body {
  background-color: #dedaf4;
  font-family: "Smooch Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;100-900;
  font-style: normal;                  
}

h1 {
  color: hwb(267 3% 3%);      
  margin-left: 5px;
  font-family: Georgia, serif;
}

h2 {
  color: #eb70e5;
  margin-left: 5px;
  font-family: Georgia, serif;
}

h3{
  color: #370b5b;         
  font-family: Verdana, Geneva, Tahoma, sans-serif, serif;
  margin-left: 5px
}

p {
  color: #4b0082;
  font-size: 18px;
  margin-left: 5px;
  font-family: "Smooch Sans", sans-serif;
}
a {
  color: yellowgreen;
  font-size: 12px;
  text-decoration-line: underline;
  font-weight:bold;
  font-family: "Smooch Sans", sans-serif;
}